#useDynLib(fsn, .registration = TRUE)

importFrom("stats", optim, var, sd)
importFrom("graphics", points, lines, axis, abline, legend)
importFrom("quadprog", solve.QP)

exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")

